*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.hero{
    text-align: center;
}
.contact{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 50px;
}


